.profile {
  grid-area: profile;

  border: 1px solid black;

}

.cover {
  max-height: 200px;
  width: 100%;
}

.photo {
  max-height: 120px;
  border-radius: 50%;
  border: 1px solid #0A0A0A;
}

.content {
  padding: 24px 176px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}