@import url(./reset.css);

:root {
  --bg-color: #FFF9F4;
}

* {
  background-color: var(--bg-color);
}

.app-wrapper {
  display: grid;

  grid-template-areas: 
  "header header header"
  "nav profile profile";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  max-width: 1180px;
  margin: 0 auto;
}



